<!dctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shopping List!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="../site.webmanifest">
    <link rel="apple-touch-icon" href="img/icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<h1 th:text="'Welcome! Here are all available shopping lists!'" th:align="center"/>
<br/>
<br/>
<br/>
<div text-align="center">
    <div th:class="card" th:each="list : ${shoppingLists}">
        <a th:class="container" th:href="'/lists/'+${list.id} + '/show'">
            <h1 th:text="${list.title}"/>
            <h4 th:text="${list.status}"/>
            <h4 th:text="'Number of Items: ' +${list.items.size()}"/>
        </a>
    </div>
    <div th:class="card">
        <div th:class="container">
            <form method="POST" th:action="@{/lists}" th:object="${newShoppingList}">
                <h1 th:text="'Create a new list'"/>
                <label th:text="'Title:'"/> <input type="text" th:field="*{title}"/>
                <button th:type="'submit'" th:name="'submit'" th:value="'Create'">
                    Create New Shopping List
                </button>
            </form>
        </div>
    </div>
</div>
<script src="js/vendor/modernizr-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
</body>

</html>
